
.contact-us .row {
    margin: 20px 0;
}

.contact-us h1 {
    color: #F26522;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
}

.contact-us__row{
    display: flex;
    justify-content: center;
}
.contact-us_form{
    flex-direction: column;
}

.contact-us form{
    width: 100%;
    padding-bottom: 20px;
}

.contact-us input,
.contact-us textarea {
    display: block;
    width: 80%;
    font-size: 14px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 5px;
}

.contact-us button {
    display: block;
    background-color: #F26522;
    color: white;
    border: 0;
    padding: 5px 40px;
    margin: auto;
    font-size: 28px;
    font-weight: 700;
}

.contact-us__line {
    width:1px;
    height: 90%;
    background-color: black;

}

.contact-us__links {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap:5px;
    font-size:18px;
}

.contact-us__links a {
    text-decoration: none;
    color: black;
}


.contact-us__links span {
    margin-left: 10px;
}


@media screen and (max-width: 768px) {
    .contact-us__line {
        width:90%;
        height: 1px;
        align-self: center;  
    }

    .contact-us__links {
        margin-top:0;
        padding: 15px 0;
        align-items: center;
    }
}
