


#checkout{
    font-weight: 700;
    font-size:42px;
    margin: 0;
}

.creturn{
    display: block;
    text-align: right;
    margin-bottom: 10px;
    position: relative;
    right:10px;
    top:5px;
}

.codr{
    width:80%;
    margin: 0 auto;
    padding: 5px 0;
    border: 1px solid #DBDDE0;
}

.codrme{
    width:100%;
    text-align: center;
    border:0;
    will-change: transform !important;
    position: absolute !important;
    transform: translate3d(0px, 35px, 0px) !important;
    top: 0px !important;
    left: 0px !important;
}

.coselect{
    width: 80%;
    margin: 0 auto;
    font-size: 12px;
    text-decoration: underline;
    position: relative;
}

.cooreder-title{
    text-align:left;
    margin: 10px 5%;
    font-weight: 700;
    font-size:20px;
}

.coamount{
    display: block;
    text-align: right;
    position: relative;
    right:10px;
    font-size: 16px;
    font-weight: 700;
}

.copayment{
    text-align:left;
    margin: 10px 5%;
    font-weight: 700;
    font-size:20px;
}


.cocart-icon{
    font-size: 120px;
}



.cotf{
    width:90%;
}

.cotfcn{
    width:60%;
    margin-right: 5px;
}

.cotfcvv{
    width:30%;
}

.cobtn {
    background-color: #F26522;
    margin-top: 10px;
    padding:10px 0;
}

.cobtn text{
    color:white;
    font-size: 20px;
}
