


#checkout{
    font-weight: 700;
    font-size:42px;
    margin: 0;
}

.creturn{
    color: black;
    display: block;
    text-align: right;
    margin-bottom: 10px;
    position: relative;
    right:10px;
    top:5px;
}

.creturn:hover{
    text-decoration: none;
    color: black;
}

.codr{
    width:80%;
    margin: 0 auto;
    padding: 5px 0;
    border: 1px solid #DBDDE0;
}




.codrme{
    width:100%;
    text-align: center;
    border:0;
    will-change: transform !important;
    position: absolute !important;
    transform: translate3d(0px, 35px, 0px) !important;
    top: 0px !important;
    left: 0px !important;
}

.coselect{
    width: 80%;
    margin: 0 auto;
    font-size: 12px;
    text-decoration: underline;
    position: relative;
}

.coselect button{
    text-decoration: underline;
}


.cooreder-title{
    text-align:left;
    margin: 10px 5%;
    font-weight: 700;
    font-size:20px;
}

.coamount{
    display: block;
    text-align: right;
    margin-right: 5%;
    font-size: 16px;
    font-weight: 700;
}

.copayment{
    width: 70%;
    margin-left: 3%;
}

.copaymenttitle{
    text-align:left;
    margin: 10px 5%;
    font-weight: 700;
    font-size:20px;
}


.cocart-icon{
    font-size: 120px;
}



.cotf{
    width:90%;
}

.cotfcn{
    width:60%;
    margin-right: 5px;
}

.cotfcvv{
    width:30%;
}

.cobtn {
    width: 100%;
    background-color: #F26522;
    color: white;
    margin-top: 10px;
    padding:10px 0;
    font-size: 20px;
}




@media only screen and (min-width: 992px) {
    .creturn{
        font-size:18px;
    }

    .codr{
        width:60%;
    }

    .codr a{
        font-size:18px;
    }

    .coselect{
        font-size: 14px;
    }

    .cooreder-title{
        font-size:24px;
    }

    .coamount{
        font-size: 20px;
    }

    .cobtn{
        font-size: 24px;
    }

    .copayment{
        width: 60%;
    }

    .copaymenttitle{
        font-size:24px;
    }

}



@media only screen and (min-width: 1200px) {

    .creturn{
        font-size:20px;
    }

    .codr{
        width:60%;
    }

    .codr a{
        font-size:20px;
    }

    .coselect{
        font-size: 16px;
    }

    .cooreder-title{
        font-size:26px;
    }

    .coamount{
        font-size: 22px;
    }

    .cobtn{
        font-size: 26px;
    }
    .copayment{
        width: 40%;
    }

    .copaymenttitle{
        font-size:26px;
    }

}