
.mo{
    position: relative;
}

.mocontent{
    padding: 25px 5px;
}
.mobtn{
    width:80%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    background-color:#69CB00;
    color:white;
    border-radius: 8px;
}

.moreturn{
    position: absolute;
    text-decoration: underline;
    color: black;
    font-size:12px;
    right:5px;
}

.moreturn:hover{
    color:black;
}