
.mo{
    position: relative;
    width:80%;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    opacity: 0.9;
}

.mocontent{
    padding: 25px 5px;
    padding-top: 35px;
}
.mobtn{
    width:80%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    background-color:#69CB00;
    color:white;
    border-radius: 8px;
}

.moreturn{
    position: relative;
    color: black;
    font-size:14px;
    float:right;
    top:5px;
    right:10px;
}

.moreturn:hover{
    color:black;
}

@media only screen and (min-width: 768px) {
    .mobtn{
       
        width:60%;
    }

    .mobtn a{
        font-size: 22px;
    }

    .moreturn{
        font-size:16px;
        top:10px;
        right:15px;
    }
}

@media only screen and (min-width: 992px) {
    .mobtn a{
        font-size: 26px;
    }

    .moreturn{
        font-size:18px;
    }
}