

.oddrinks{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    overflow-y: auto;
    white-space: nowrap;
}


.oddrinks div{
    display: inline-block;
    margin-right: 10px;
}
.odimg{
    width: 75px;
    height: 150px;
} 

.big{
  width:100px; 
  height: 200px;
  animation-name: big;
  animation-duration: 1s;
}

@keyframes big {
    from {width:75px; height: 150px;}
    to {width:100px; height: 200px;}
  }


.odalert{
    margin: 10px 0;
}

@media only screen and (min-width: 768px) {
    
    .odimg{
        width: 95px;
        height: 180px;
    }
    
    .big{
        width:140px; 
        height: 260px;
    }

    @keyframes big {
        from {width:95px; height: 180px;}
        to {width:140px; height: 260px;}
    }

}


@media only screen and (min-width: 992px) {
    
    .odimg{
        width: 95px;
        height: 210px;
    }
    
    .big{
        width:150px; 
        height: 290px;
    }

    @keyframes big {
        from {width:95px; height: 210px;}
        to {width:150px; height: 290px;}
    }

}


