
.opgrid{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.optitle{
    grid-column: 1/3;
    grid-row:1;
}


.oppizza{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-column: 1;
    grid-row: 2;
}

.pizza-container {
    width: 240px;
    height: 240px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 150px;
}
.pizza-container img{
    width:15px;
    height:15px;
    position: absolute;
}


.pizzaSlice1 {
    width: 120px;
    height: 120px;
    position: absolute;
    right: 0;
    top: 0;
    border-top-right-radius: 150px;
}
.pizzaSlice2 {
    width: 120px;
    height: 120px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-bottom-right-radius: 150px;
}
.pizzaSlice3 {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom-left-radius: 150px;
}
.pizzaSlice4 {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 0;
    top: 0;
    border-top-left-radius: 150px;
}

.pizzaSlice1.lighting,
.pizzaSlice2.lighting,
.pizzaSlice3.lighting,
.pizzaSlice4.lighting {
    opacity: 50%;
    background-color: blue;
}

.opimg{
    width:250px;
    height:250px;
}

.opextras{
    grid-column: 2;
    grid-row: 2;
    margin-right: 5px;
    position: relative;
}

.opextras  text{
    font-size: 14px;

}

.opextrasabs{
    position: absolute;
    right: 1%;
}

.opdrag{
    height: 200px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.opdrag::-webkit-scrollbar {
    display: none;
}

.opdrag img{
    width: 30px;
    height: 30px;
    
}

.opdrag text{
    font-size: 11px;
}

.opmanageextras{
    grid-row:3
}

.opmanageextras text{
    margin-right: 10px;
}

.opalerts{
    grid-row: 4;
    grid-column: 1/3; 
    margin: 5px 0;
}

.opbtn{
    grid-row: 5;
    grid-column: 1/3;
}

@media only screen and (min-width: 768px) {

    .optitle h3{
        font-size:32px;
    }
    .opimg{
        width:350px;
        height:350px;
    }

    .pizza-container{
        width:340px;
        height: 340px;
    }

    .pizza-container img{
        width: 20px;
        height:20px;
        position: absolute;
    }

    .pizzaSlice1,.pizzaSlice2,.pizzaSlice3,.pizzaSlice4{
        width:170px;
        height:170px;
    }

    .pizzaSlice1{
        border-top-right-radius: 250px;
    }

    .pizzaSlice2{
        border-bottom-right-radius: 250px;
    }

    .pizzaSlice3{
        border-bottom-left-radius: 250px;
    }

    .pizzaSlice4{
        border-top-left-radius: 250px;
    }

    .opextras  text{
        font-size: 16px;
    
    }

    .opextrasabs{
        right: 50%;
    }

    .opdrag{
        height: 300px;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .opdrag img{
        width: 40px;
        height: 40px;
        
    }

    .opmanageextras text{
        font-size:18px;
    }

}


@media only screen and (min-width: 992px) {

    .optitle h3{
        font-size:36px;
    }

    .opimg{
        width:500px;
        height:500px;
    }

    .pizza-container{
        width:490px;
        height: 490px;
    }

    .pizza-container img{
        width: 30px;
        height:30px;
        position: absolute;
    }

    .pizzaSlice1,.pizzaSlice2,.pizzaSlice3,.pizzaSlice4{
        width:250px;
        height:250px;
    }

    .pizzaSlice1{
        border-top-right-radius: 400px;
    }

    .pizzaSlice2{
        border-bottom-right-radius: 400px;
    }

    .pizzaSlice3{
        border-bottom-left-radius: 400px;
    }

    .pizzaSlice4{
        border-top-left-radius: 400px;
    }

    .opextras  text{
        font-size: 18px;
    
    }

    .opdrag{
        height: 400px;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .opdrag img{
        width: 50px;
        height: 50px;
        
    }

    .opmanageextras text{
        font-size:20px;
    }

}


@media only screen and (min-width: 1500px) {
    .opextrasabs{
        right: 50%;
    }

}

