

.home__shape {
    height: 200px;
    width: 100%;
    padding: 0 5%;
    position: absolute;
    text-align: center;
    bottom: 20%;
    background: #F26522;
    transform: skew(0deg, -4deg);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__shape a {
    background-color: white;
    padding: 20px 30px;
    color: black;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
}

.home__shape span {
    color: white;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.2;
}


.home__mobile-link {
    display: inline;
    text-decoration: none;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
}