.checkout{
    padding: 0 20px;
}

.checkout__link-return {
    font-size: 20px;
    color: black;
    display: block;
    text-align: right;
    margin: 10px 0;
}

.checkout__title {
    text-align: left;
    margin: 30px 0;
    font-weight: 700;
    font-size: 20px;
}

.checkout__button-pay{
    width: 100%;
    padding: 10px 0 ;
    margin: 20px 0 0;
}
