.orderDeal__items-container {
  overflow: hidden;
}

.orederDeal__items-inner {
  display: flex;
  position: relative;
  transition: right 1s;
}

.orederDeal__item {
  flex: 1;
}


.odsection {
  display: inline-block;
  text-align: center;
  grid-row: 1;
  position: relative;

}



.odsection text {
  font-size: 11px;
  font-weight: 700;
  color: black;
}

.oddone {
  background-color: #69CB00;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  animation-name: anod;
  animation-duration: 1s;
}

@keyframes anod {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.odsection .odwhite {
  color: white;
  animation-name: anod2;
  animation-duration: 1s;

}

@keyframes anod2 {
  from {
    color: black;
  }

  to {
    color: white;
  }
}

.odbox {
  position: absolute;
  right: -2px;
  top: 50%;
  transform: translate(0%, -50%);
  width: 2px;
  height: 60%;
}

.odboxblack {
  background-color: black;
}

.odboxwhite {
  background-color: white;
}


@media only screen and (min-width: 768px) {

  .odsection text {
    font-size: 14px;

  }

}

@media only screen and (min-width: 992px) {


  .odsection text {
    font-size: 16px;

  }

}