
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-style: italic;

}



.background{
    width:100%;
    min-height: 100vh;
    max-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url('images/background.jpg');
}


.hidden{
    display: none;
}

.row{
    margin:0;
}

.col-12, .col-md-4{
    padding:0;
} 