
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-style: italic;

}

button {
    cursor: pointer;
    border: none;
    background-color: Transparent;
}

button:focus {
    outline: none;
}

a,a:hover {
    text-decoration: none;
    color: black;
}

.link {
    background-color: #F26522;
    color: white;
    padding: 20px 30px;
    font-size: 30px;
    font-weight: 700;
}

.page {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    background-color: white;
    opacity: 0.9;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -0);
    overflow-y: auto;
}

.background{
    width:100%;
    min-height: 100vh;
    max-height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url('images/background.jpg');
}


.hidden{
    display: none;
}

.row{
    margin:0;
}

.col-12, .col-md-4{
    padding:0;
} 



